<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="container-fluid">
	<h2 style="text-align: center;">Check Current Weather</h2>
  <br><br>
	<div class="panel-group">
		<div class="row">
			<!-- panel 1-->
			<div class="col-lg-4 col-md-6 margin50pixcel">
				<app-panel [placeHolder]="placeHolder"></app-panel>
			</div>
			<!-- panel 2-->
			<div class="col-lg-4 col-md-6 margin50pixcel">
				<app-panel [placeHolder]="placeHolder"></app-panel>
			</div>
			<!-- panel 3-->
			<div class="col-lg-4 col-md-6 margin50pixcel">
				<app-panel [placeHolder]="placeHolder"></app-panel>
			</div>
			<!-- panel 4-->
			<div class="col-lg-4 col-md-6 margin50pixcel">
				<app-panel [placeHolder]="placeHolder"></app-panel>
			</div>
      <!-- panel 5-->
			<div class="col-lg-4 col-md-6 margin50pixcel">
				<app-panel [placeHolder]="placeHolder"></app-panel>
			</div>
      <!-- panel 6-->
			<div class="col-lg-4 col-md-6 margin50pixcel">
				<app-panel [placeHolder]="placeHolder"></app-panel>
			</div>
      <!-- panel 7-->
			<div class="col-lg-4 col-md-6 margin50pixcel">
				<app-panel [placeHolder]="placeHolder"></app-panel>
			</div>
      <!-- panel 8-->
			<div class="col-lg-4 col-md-6 margin50pixcel">
				<app-panel [placeHolder]="placeHolder"></app-panel>
			</div>
      <!-- panel 9-->
			<div class="col-lg-4 col-md-6 margin50pixcel">
				<app-panel [placeHolder]="placeHolder"></app-panel>
			</div>
		</div>
	</div>
</div>